parameters:
    level: 9
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4
        minimumNumberOfJobsPerProcess: 2
